@{
    ViewData["Title"] = "Welcome";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <h1>Your Idea Matters</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                faucibus ornare lectus sit amet molestie. Integer nec consectetur
                quam. In tristique euismod leo, eu hendrerit nibh tempus ac.
            </p>

            <button type="button" class="btn btn-warning rounded-pill px-3">Make a Website</button>
        </div>
        <div class="col-md">
            <img class="img-fluid" src="~/20944999.jpg" alt="image representing collaboration" />
        </div>


    </div>

    <div class="row mt-5" style="background-color:whitesmoke; color:dimgrey">
        <div class="col-md-3 p-3">
            <i style="color:mediumpurple" class="fa-solid fa-building"></i>
            <h3>Local Business</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
        </div>
        <div class="col-md-3  p-3">
            <i style="color:mediumpurple" class="fa-solid fa-bag-shopping"></i>
            <h3>OnlineStore</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
        </div>
        <div class="col-md-3 p-3">
            <i style="color:mediumpurple" class="fa-solid fa-pen-to-square"></i>
            <h3>Blogging</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
        </div>
        <div class="col-md-3 p-3">
            <i style="color:mediumpurple" class="fa-solid fa-briefcase"></i>
            <h3>Portfolio</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
        </div>
    </div>
</div>